.container{
     margin:auto;
     width:750px;
      height:450px;
}

.logo{
    display: block; 
    margin: auto;
}

.search-input{
    height:52px;
    width:600px;
    display:lock;
    margin-left:auto;
    margin-right:auto;
    width:700px;
}

.apps-text{
    color:red;
}

.most-visited{
    text-align:center;
}

.div-container{
    margin:auto; 
    text-align:center;
}

.logo-container{
    margin:auto; 
    text-align: center;
}

.logo1{
    margin-right:15px;
    height:70px;
     width:70px;
     color:black;
     font-weight:bold; 
     margin-right: 15px;
}

.logo2{
    margin-right:25px; 
    height:70px; 
    width:70px;
    color:black;
    font-weight:bold; 
    margin-right: 42px;
}

.logo3{
    margin-right:25px; 
    height:70px; 
    width:70px;
    color:black;
    font-weight:bold; 
    margin-right: -11px;
}

.logo4{
    margin-right:15px; 
    height:70px; 
    width:70px;
    color:black;
    font-weight:bold; 
    margin-right: 12px; 
    padding-left: 25px; 
}

.logo5{
    margin-right:25px;
    height:70px; 
    width:70px;
    color:black;
    font-weight:bold; 
    margin-right: 21px; 
}

.logo6{
    margin-right:15px; 
    height:70px; 
    width:70px;
    color:black;
    font-weight:bold; 
    margin-right: 11px; 
}